	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class= "nav navbar-nav">
				<li><a class="navbar-brand" href="#">INICIO</a></li>
				<li><a class="navbar-brand" href="#">INNOVACIONES</a></li>
				<li><a class="navbar-brand" href="#">BLOGS</a></li>
				<li><a class="navbar-brand" href="#">CONTACTO</a></li>
			</ul>
			<div class="container-fluid navbar-right">
			<ul class= "nav navbar-nav">
				<li><a class="navbar-brand" href="/dashboard">CREACION</a></li>
			</ul>
		</div>
		</div>
	</nav>
  <!--Seccion de Timelapse -->
	<div class="timelapse_container row">
		<div data-element="timelapse" class="timelapse_left col-md-3">
		</div>
		<div data-element="timelapse" class="timelapse_center col-md-6"></div>
		<div data-element="timelapse" class="timelapse_right col-md-3"></div>
	</div>
<!-- Seccion del About-->
	<div class="panel panel-defaul panel_size__about">
		<div class="panel-body">

		</div>
	</div>
<!-- Seccion de los productos -->
	<div class="products_container row">
		<div data-element="products" class="product_left col-md-4"></div>
			<div data-element="products" class="product_center col-md-4"></div>
				<div data-element="products" class="product_right col-md-4"></div>
		</div>
<!--Seccion de las noticias-->
		<div>
		<div class="panel panel-defaul panel_size__news">
			<div class="panel-body">
				ULTIMAS NOTICIAS
			</div>
		</div>
		</div>

		<div class="panel_size__imagenHome">
				<div data-element ="oneNews" class="col-md-3">
				<img src="../img/r2p2.jpg" alt="">
				</div>
				  	<div data-element ="oneNews" class="col-md-3">
						<img src="../img/n16_poster_1x.png" alt="">
					</div>
					<div>
						<div data-element ="twoNews" class="col-md-3">
					  	<img src="../img/nave.jpg" alt="">
					  </div>
						   <div data-element ="twoNews" class="col-md-3">
						   	<img src="../img/drb2_1x.png" alt="">
						   </div>
					</div>

		</div>
	<div class="panel_size__foot"> WebyMovil</div>
