<h1>{{title}}</h1>
<table style="width:100%">
  <tr>
    <th scope="row">No.</th>
    <th style="width:50%">Nombre</th>
    <th style="width:10%">Precio</th>
  </tr>
</table>
<div>
{{#each data}}
<table style="width:100%">
  <tr>
    <th scope="row">{{@index}}.</th>
    <th style="width:50%">{{Nombre}}</th>
    <th style="width:10%">{{Precio}}</th>
  </tr>
</table>
{{/each}}
</div>
