{{!< html-struct}}
<nav class="navbar navbar-default">
	<div class="container-fluid navbar-right">
		<ul class="nav navbar-nav">

		</ul>
	</div>
</nav>
<div class="row">
	<div class=" menu_nav col-md-3 ">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/dashboard">Inicio</a></li>
			  <li role="presentation"><a class="js-menuDashboard" href="/dashboard/create">Creacion</a></li>
			  <li> <a href="/dashboard/Consulta">Consulta</a></li>
			  <li role="presentation"><a href="/dashboard/statistics">Actualizar</a></li>
			  <li><a href="/dashboard/Eliminar">Eliminar</a></li>
			  <li role="presentation"><a href="">Salir</a></li>

		</ul>
	</div>
	<div class="window_nav col-md-9 " >
{{{body}}}
	</div>
</div>

<!--<h2 >Esta es la seccion del Dashboard </h2> -->
