{{!< dashboard}}
<nav class="navbar navbar-default">
	<div class="navbar-right">
			<a class="navbar-brand" href="/dashboard/create">Crear</a>
			<a class="navbar-brand" href="">Editar</a>
			<a class="navbar-brand" href="#">Borrar</a>
	</div>
</nav>
{{#each noticias}}
	{{title}}
	<img src="{{image}}">
{{/each}}
